<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Gomoku is the simplest of the games. To win, place 5 of your stones in a straight continuous line (either horizontally, vertically or diagonally). Whoever does this first wins the game. One note, you must get exactly 5 in a row to win. 6 or more of your stones in a row is called an &quot;overline&quot; and does not count as a win, play continues.</string>
			<key>Title</key>
			<string>Gomoku</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Pente is like Gomoku but with a twist. You can win at Pente just like in Gomoku, by getting 5 of your stones in a straight continuous line. (Also in Pente you can win by getting more than 5 in a row, unlike Gomoku).

The twist to Pente is that you can capture your opponents stones, removing them from the board. Capturing occurs if you place one of your stones on both sides of a pair of your opponents stones. For example, if the stones are like this XOO and you place your stone so it becomes XOOX, then your opponents stones are removed from the board, leaving X__X. Capturing is good to slow your opponent from getting 5 in a row, but you can also win at Pente by capturing. If you capture 10 or more of your opponents stones you win (5 or more captures).

Another thing to realize is you can&apos;t play into a capture. If the board position is like this XO_X, and you place your stone such that the board is like XOOX, then your stones are NOT captured. (Note that Poof-Pente is a variation where you CAN play into captures)

One final rule of Pente is called the &quot;Tournament Rule&quot;. If you play rated games at Pente.org, the tournament rule is used. The tournament rule was proposed by Tom Braunlich to make the game more fair for player 2. It restricts player 1&apos;s second move so that player 1&apos;s second move must be at least 3 intersections away from the center of the board.</string>
			<key>Title</key>
			<string>Pente</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Keryo-Pente is a variation of Pente proposed in 1983 by World Pente Champion Rollie Tesh. Again you can win by placing 5 in a row. The variation has to do with the captures, you can still capture 2 stones as in Pente, but you can also capture 3 stones in the same manner. In order to win by capturing you must now capture 15 or more stones. Although technically only a variation of Pente, games turn out to be very different.</string>
			<key>Title</key>
			<string>Keryo-Pente</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>G-Pente is a variation of Pente proposed by Gary Barnes. Again the reason for the variation is to make the game more fair for player 2. This variation restricts player 1&apos;s second move, just like the tournament rule. It additionally prohibits playing on the 4th and 5th intersections away from the center of the board that are one the same horizontal or vertical line as player 1&apos;s first move. (These moves are the most common second moves for white).</string>
			<key>Title</key>
			<string>G-Pente</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>D-Pente is a variation of Pente proposed by Don Banks. Again the reason for the variation is to make the game more fair for player 2. This variation is very different from the others however.

Play starts with white&apos;s first move at the middle as always. After that move however, player 1 continues to be in control and places the next stone for his/her opponent. Player 1 continues to be in control and places the second move for each player. (So player 1 makes the first 4 moves of the game, but the stone colors still alternate). At this point in the game player 2 gets control. Player 2 decides to continue playing as player 2, or decides to swap seats and take over as player 1! After that decision is made, play continues just as in Pente with whoever is now player 1 making the next move.

Hopefully you can see how this makes the game more balanced for player 2, in fact player 2 now has the advantage because player 2 decides after move 4 which side to play. So player 1 has to come up with a set of first 4 moves that are balanced, because if the position isn&apos;t balanced, player 2 will probably win (because they can swap!)</string>
			<key>Title</key>
			<string>D-Pente</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Poof-Pente is a variation of Pente proposed by Tom Cooley. The main difference is that you can play into a capture! (e.g., from XO_X player plays XOOX) then the stones are &quot;poofed&quot; (removed from the board and counted as captures). Normal captures are still allowed and the number of captures to win remains at 10 stones. Note that more than 2 stones could be poofed in one move, specifically up to 5 at once! Also note that my current implementation performs the following actions in sequence after a move:

    Check if move captured any opponents stones, if so remove stones from the board.
    Check if move creates a poof position, if so remove stones from the board.
    Check if player has a 5-in-a-row, if so the player wins. 

There are some weird scenarios that can occur at the end of the game, for example a player could capture and be poofed in the same move and the capture count could end up as 10-10. My current implementation keeps the game going in this case until one player has an advantage (i.e., gets more captured stones or gets five-in-a-row). There are no draws right now in Poof-Pente.</string>
			<key>Title</key>
			<string>Poof-Pente</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Boat-Pente is a variation of Pente proposed to Pente.org by player zoeyk. Also known as &quot;boat rules&quot; Pente. Boat-Pente aka &quot;Boat Rules&quot; Pente was originally invented in the mid 1980&apos;s by a man named &quot;Jay E. Hoff&quot;. The late Jay E. Hoff, (also know at this website by the player name of jayehoff) was the stepfather of player zoeyk (aka Zoey King).

The main difference between this game and Pente is in the end game. Once a Pente is made (5 stones in a row), the game can continue as long as the opponent is able to capture across the Pente! So in the example game below white hasn&apos;t won yet because black can capture on the next turn, removing the Pente. If after black moves the Pente is still in place then white wins.
Capturing 5 pairs is still a win like in Pente and the tournament rule is used for rated games.</string>
			<key>Title</key>
			<string>Boat-Pente</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Connect6 was introduced by Professor I-Chen Wu at the National Chiao Tung University. The rules are similar to gomoku, the object is to be the first player to get 6 pieces in a row, either vertically, horizontally or diagonally.

Player one plays one stone at the center of the board. After that each player gets to place two stones on the board at a time.</string>
			<key>Title</key>
			<string>Connect6</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
