<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Loading avatars will use more data and is preferred on faster connections</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show avatars?</string>
			<key>Key</key>
			<string>wantToSeeAvatars</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>More preferences, such as email settings, can be changed at pente.org</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>penteOrgPreferencesButton</string>
			<key>Title</key>
			<string>Preferences @ pente.org</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>Name color changes and uploading an avatar is a subscriber-only feature</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>changeColorButton</string>
			<key>Title</key>
			<string>Change my name color</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>changeAvatarButton</string>
			<key>Title</key>
			<string>Change my avatar</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
