<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>FooterText</key>
			<string>Pente.org maintains a rating for you when you play &quot;rated&quot; games.  The ratings system is important to help you determine your skill level and to help you find worthy opponents.  Pente.org attempts to ensure that ratings accurately reflect a players skill, and therefore certain guidelines must be followed by all players!
          
1. Play rated games using only your brain.  Do not play with any outside assistance.  Just to be clear, here are some examples of what you should NOT do: use another pente board to examine future positions, use a game database to lookup the current or future positions, use a computer opponent to find moves, consult written notes or books. 
2. Play rated games at Pente.org with only one user account. Do not create multiple users at and play rated games with them.
3. When playing games, you can request to undo your last move, your opponent can choose to accept or deny this request (Pente.org does not care, it is up to you). If you do not plan to accept undo&apos;s, you should mention this to your opponent before starting a rated game.
4. When watching a rated game, do not make comments about specific game moves, this could affect the outcome of the game.  There is plenty of time for analysis after the game.
5.If your opponent is disconnected from the internet, Pente.org allows him/her 7 minutes to return to resume the game.  After that point you may decide to cancel the game or force your opponent to resign.  This feature was implemented to stop other players from bailing out of a losing game.  However, do not abuse this feature, if you are sure you will lose, you should resign the game.  Do not force your opponent to resign unless you are absolutely sure you will win.

That&apos;s it, and remember to have fun of course!</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
