<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>username</string>
			<key>Title</key>
			<string>Username:</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IsSecure</key>
			<false/>
		</dict>
		<dict>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentRight</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>password</string>
			<key>Title</key>
			<string>Password:</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>LoginButton</string>
			<key>Title</key>
			<string>Login</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>SignUpLabel</string>
			<key>FooterText</key>
			<string></string>
			<key>Title</key>
			<string>Not registered yet?</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Signup</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>Title</key>
			<string>Register @ Pente.org</string>
			<key>Key</key>
			<string>SignUpButton</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string></string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKCellImage</key>
			<string>subscribeIcon</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>Title</key>
			<string>Subscribe!</string>
			<key>Key</key>
			<string>SubscribeButton</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>manageSubscriptions</string>
			<key>DefaultValue</key>
			<string>pente.org</string>
			<key>File</key>
			<string>https://buy.itunes.apple.com/WebObjects/MZFinance.woa/wa/manageSubscriptions</string>
			<key>Title</key>
			<string>Manage subscription</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
		<dict>
			<key>File</key>
			<string>MoreSettings</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>IASKCellImage</key>
			<string>moreSettings</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>Title</key>
			<string>More settings</string>
			<key>Key</key>
			<string>MoreSettingsButton</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string></string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>GameRulesButton</string>
			<key>File</key>
			<string>GameRules</string>
			<key>Title</key>
			<string>Game rules</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>pente.org</string>
			<key>File</key>
			<string>https://m.facebook.com/pente.org</string>
			<key>Title</key>
			<string>Find Us on Facebook</string>
			<key>IASKCellImage</key>
			<string>facebook</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>inviteFriendsButton</string>
			<key>Title</key>
			<string>Invite Friends</string>
			<key>IASKCellImage</key>
			<string>sharewithfriends</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>HelpButton</string>
			<key>Title</key>
			<string>Get help</string>
			<key>IASKCellImage</key>
			<string>help</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>AcknowledgementsButton</string>
			<key>File</key>
			<string>Acknowledgements</string>
			<key>Title</key>
			<string>Acknowledgements</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>penteOrgPrivacyPolicyButton</string>
			<key>Title</key>
			<string>Privacy Policy</string>
			<key>IASKCellImage</key>
			<string>subscribeIcon</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
			<key>IASKTextAlignment</key>
			<string>IASKUITextAlignmentCenter</string>
		</dict>
	</array>
	<key>Strings Table</key>
	<string>Root</string>
	<key>Strings Filename</key>
	<string>Root</string>
	<key>Title</key>
	<string>Settings</string>
</dict>
</plist>
